In [1]:
import pandas as pd


import pickle

In [4]:
file_path = '../data/spotify_api_search_results.pkl'

with open(file_path, 'rb') as file:
    output_data = pickle.load(file)
    file.close()
    
output_data.head()

,duration_ms,explicit,key,name,release_date,search_query,uri
0,255560.0,True,"2 Chainz, Travis Scott",4 AM,2017-06-16,2 chainz 4 am,spotify:track:1nX9KhK3Fff27SnrIor2Yb
1,210200.0,True,"2 Chainz, Ty Dolla $ign, Trey Songz, Jhene Aiko",It's A Vibe,2017-06-16,2 chainz it's a vibe,spotify:track:6H0AwSQ20mo62jGlPGB8S6
2,234666.0,True,"2 Chainz, YG, Offset",PROUD,2018-02-08,2 chainz proud,spotify:track:365wwIjijQdlRJEjUWTidq
3,NaN,NaN,NaN,NaN,NaN,2 chainz x gucci mane x quavo good drank,NaN
4,225893.0,True,"2 Chainz, Drake, Quavo",Bigger Than You (feat. Drake & Quavo),2018-06-15,"2 chainz, drake bigger > you",spotify:track:5S1IUPueD0xE0vj4zU3nSf

In [8]:
missing_data = output_data[output_data.name.isna()]
missing_data

,duration_ms,explicit,key,name,release_date,search_query,uri
3,NaN,NaN,NaN,NaN,NaN,2 chainz x gucci mane x quavo good drank,NaN
7,NaN,NaN,NaN,NaN,NaN,21 savage my choppa hate n****s,NaN
59,NaN,NaN,NaN,NaN,NaN,becky g + natti natasha sin pijama,NaN
87,NaN,NaN,NaN,NaN,NaN,brett eldredge wanna be that song,NaN
343,NaN,NaN,NaN,NaN,NaN,jay-z caught their eyes,NaN
344,NaN,NaN,NaN,NaN,NaN,jay-z family feud,NaN
346,NaN,NaN,NaN,NaN,NaN,jay-z marcy me,NaN
347,NaN,NaN,NaN,NaN,NaN,jay-z moonlight,NaN
348,NaN,NaN,NaN,NaN,NaN,jay-z smile,NaN
351,NaN,NaN,NaN,NaN,NaN,jacquees x dej loaf at the club,NaN
459,NaN,NaN,NaN,NaN,NaN,kygo x selena gomez it ain't me,NaN
549,NaN,NaN,NaN,NaN,NaN,maluma x nego do borel corazon,NaN
566,NaN,NaN,NaN,NaN,NaN,martin garrix x troye sivan there for you,NaN
612,NaN,NaN,NaN,NaN,NaN,nas cop shot the kid,NaN
635,NaN,NaN,NaN,NaN,NaN,ozuna x cardi b la modelo,NaN
676,NaN,NaN,NaN,NaN,NaN,"quavo, takeoff too hotty",NaN
713,NaN,NaN,NaN,NaN,NaN,selena gomez x marshmello wolves,NaN
792,NaN,NaN,NaN,NaN,NaN,xxxtentacion f**k love,NaN
803,NaN,NaN,NaN,NaN,NaN,xxxtentacion the remedy for a broke heart (why...,NaN

In [9]:
missing_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 3 to 803
Data columns (total 7 columns):
duration_ms     0 non-null float64
explicit        0 non-null object
key             0 non-null object
name            0 non-null object
release_date    0 non-null object
search_query    19 non-null object
uri             0 non-null object
dtypes: float64(1), object(6)
memory usage: 1.2+ KB

In [7]:
missing_modified = pd.read_csv('../data/missing_modified_results.csv')
missing_modified.head()

,artists,duration_ms,explicit,id,modified_query,name,popularity
0,"2 Chainz, Gucci Mane, Quavo",222706.0,True,39pS70eeDvyCAF3t8NAlVV,quavo good drank,Good Drank,65.0
1,"21 Savage, Metro Boomin",148640.0,True,2D2w9943rsnJOGCrI4aMQp,21 savage my choppa,My Choppa Hate Niggas,67.0
2,Marillo,191555.0,False,6ItVmJiq8rDwBKq026zSa3,becky g pijama,Como Becky G Sin Pijama,0.0
3,NaN,NaN,NaN,NaN,brett wanna be that song,NaN,NaN
4,NaN,NaN,NaN,NaN,jayz caught their eyes,NaN,NaN

In [10]:
missing_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 7 columns):
artists           13 non-null object
duration_ms       13 non-null float64
explicit          13 non-null object
id                13 non-null object
modified_query    19 non-null object
name              13 non-null object
popularity        13 non-null float64
dtypes: float64(2), object(5)
memory usage: 1.1+ KB

In [25]:
# i should be able to just concat across since its the same length 

missing_data = pd.concat([missing_data.search_query.reset_index(),
          missing_modified.reset_index()], axis=1).drop('index', axis=1).dropna()

In [27]:
missing_data.tail()

,search_query,artists,duration_ms,explicit,id,modified_query,name,popularity
14,ozuna x cardi b la modelo,"Ozuna, Cardi B",255506.0,False,2SbzdGpOKlH3HIAGTWTbwU,cardi b la modelo,La Modelo,76.0
15,"quavo, takeoff too hotty","Quality Control, Migos, Eurielle",295997.0,True,3hWUIMNBwLNug1O8o2PPRW,too hotty,Too Hotty,65.0
16,selena gomez x marshmello wolves,"Selena Gomez, Marshmello",197993.0,False,0tBbt8CrmxbjRP0pueQkyU,selena gomez wolves,Wolves,85.0
17,xxxtentacion f**k love,"XXXTENTACION, Trippie Redd",146520.0,True,7AQim7LbvFVZJE3O8TYgf2,xxxtentacion fuck love,Fuck Love (feat. Trippie Redd),85.0
18,xxxtentacion the remedy for a broke heart (why...,XXXTENTACION,160184.0,True,4UKCKdYiLN6IMA5ZESUTL7,xxxtentacion why am I so in love,the remedy for a broken heart (why am I so in ...,82.0

In [26]:
pickle.dump(missing_data, open('../data/manually_found_songs.pkl', 'wb'))